form(target="paypal", action="https://www#{dev ? '.sandbox' : ''}.paypal.com/cgi-bin/webscr", method="post")
  <input type="hidden" name="cmd" value="_donations">
  if(dev)
    input(type="hidden", name="business", value="#{config.business}")
  else
    input(type="hidden", name="business", value="WLUP24S9ZJYCL")

  <input type="hidden" name="item_name" value="Donation for nowall.be/here">
  <input type="hidden" name="address_override" value="nowall.be/here">
  <input type="hidden" name="item_number" value="nowallbehere">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="no_note" value="0">
  <input type="hidden" name="cn" value="Say something to nowall.be">
  <input type="hidden" name="no_shipping" value="1">
  <input type="hidden" name="rm" value="1">
  input(type='hidden', name='cbt', value='Return to Nowall.be')
  input(type="hidden", name="image_url", value='http://#{config.serverAndPort}/images/nowall.small.png')
  input(type="hidden", name="return", value="http://#{config.serverAndPort}/donation/success")
  input(type="hidden", name="cancel_return", value="http://#{config.serverAndPort}/donation/cancel")
  input(type="hidden", name="notify_url", value="http://api.#{config.serverAndPort}/paypal/IPN")
  p
    label
      input(type='radio', name='amount', value='1')
      $1
    label
      input(type='radio', name='amount', value='5')
      $5
    label
      input(type='radio', name='amount', value='10', checked)
      $10
    label
      input(type='radio', name='amount', value='25')
      $25
    label
      input(type='radio', name='amount', value='50')
      $50
    label
      input(type='radio', name='amount', value='100')
      $100
  button#donation.button.small(type="submit") Paypal捐赠
  &nbsp;
  a.button(href='https://me.alipay.com/guileen') 支付宝捐赠
</form>
