#main
  p.logo
    img(src='#{base_url}/images/nowall.png')
  //- h3 <font color='red'>NoWALL</font><font color='gray'>.</font>be<font color='gray'>/</font><font color='green'>here</font>

  form(name='search', action='#{base_url}/search', method='GET', onsubmit='return search_submit(this);')
    p
      input#q(name='q', autofocus, required, placeholder='No wall be here')
    p
      button.button.primary.big(type='submit')
        p No WALL 
        //- p(dir='rtl') لا جدار

  .donation
    p Nowall需要你的支持
    !=partial('donation')

  //- .footer
  //-   a(href="http://www.bullogger.com/") 牛博
  //-   |
  //-   a(href="https://ssl.nowall.be/?px!=www.bullogger.com") 牛博 via Nowall

  //- .donation
  //-   p NoWall 需要你的支持
  //-   a(style='display:inline-block;', href='http://s.click.taobao.com/t_8?e=7HZ5x%2BOzcB81%2FKwQ3boC%2B768vJQ%3D&p=mm_10985266_0_0', target='_blank')
  //-     img(src='/images/tuoxie-32.jpg')
  //-     p 买双拖鞋
  //-   &nbsp;
  //-   a(style='display:inline-block;', href='http://s.click.taobao.com/t_8?e=7HZ5x%2BOzdscr2ViNrYo2cj%2Bpb3g%3D&p=mm_10985266_0_0', target='_blank')
  //-     img(src='/images/kuzi-32.jpg')
  //-     p 买条裤子

  //- .donation
  //-   <iframe width="250" height="250" src="http://z.alimama.com/cps_campaign.php?id=2227727&si=34&p=mm_10985266_0_0&unid=" frameborder="0" marginheight="0" marginwidth="0" border="0" scrolling="no" name="alimamaifrm"></iframe>

  //- .donation
  //-   <iframe width="250" height="250" src="http://z.alimama.com/cps_campaign.php?id=2193762&si=32&p=mm_10985266_0_0&unid=" frameborder="0" marginheight="0" marginwidth="0" border="0" scrolling="no" name="alimamaifrm"></iframe>

  //- .donation
  //-   <iframe width="658" height="60" src="http://z.alimama.com/cps_campaign.php?id=2227727&si=16&p=mm_10985266_0_0&unid=" frameborder="0" marginheight="0" marginwidth="0" border="0" scrolling="no" name="alimamaifrm"></iframe>
  .footer
    if(version == 'v1')
      a(href="https://ssl.#{config.server}#{config.httpsPortSuffix}/here!/") 切换到SSL版(New)
      //- &nbsp;
      //- a(href="https://github.com/nowall/nowall/wiki/SSL", title="什么是SSL")
      //-   small [?]
      &nbsp;|&nbsp;
    else
      a(href="http://#{config.server}#{config.httpPortSuffix}/here") 切换到旧版
      &nbsp;|&nbsp;
    a(href="https://ssl.nowall.be/?px!=https:twitter.com#!/NowallBe") NowallBe@Twitter
    &nbsp;|&nbsp;
    a(href="https://chrome.google.com/webstore/detail/hghdlbnadahkknlbmckfljpcoilldcoa") 
      img(src="#{base_url}/images/chrome_store_16x16.png")
      | 安装NoWall插件
    &nbsp;|&nbsp;
    a(href="http://nowall.be/chrome/nowall.crx")
      img(src="#{base_url}/images/nowall_16x16.png")
      | 本地安装NoWall插件
    &nbsp;|&nbsp;
    a(href='http://www.linode.com/?r=94d2619aa76f5ffbd8d0869d575829f311322f69')
      span VPS Host
      img(src='/images/linode_80.png', alt='Linode')

  .google-ad
    script
      google_ad_client = "ca-pub-5093888354340048";
      /* nowall */
      google_ad_slot = "6570724185";
      google_ad_width = 728;
      google_ad_height = 90;
    script(type="text/javascript", src="#{scheme}://pagead2.googlesyndication.com/pagead/show_ads.js")

  .footer
    p &copy; <a href="http://nowall.be">nowall.be</a>

#autocomplete
  //- .option.focus popup
  //- .option popup
  //- .option popup
  //- .option popup
  //- .option popup
  //- .option popup

script
  function search_submit(){
    var q = document.getElementById('q');
    var url = document.forms['search'].action;
    location.href = url + '?q=' + encodeURIComponent(encodeX(q.value));
    return false;
  }

  var NW_BASE_MAP = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
      X_ENCODE_MAP = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';

  function replaceEncode (str, base_map, encode_map) {
      var result = '';
      for (var i = 0, len = str.length; i < len; i++) {
        var index = base_map.indexOf(str[i]);
        if (index >= 0) {
          result += encode_map[index];
        }else {
          result += str[i];
        }
      }
      return result;
    }

  function encodeX (str) {
    return replaceEncode(str, NW_BASE_MAP, X_ENCODE_MAP)
  }

  var getAbsolutOffset = function (obj) {
      var left, top;
      left = top = 0;
      if (obj.offsetParent) {
          do {
              left += obj.offsetLeft;
              top  += obj.offsetTop;
          } while (obj = obj.offsetParent);
      }
      return {
          x : left,
          y : top
      };
  };

  var $= function(id) {
    return document.getElementById(id);
  }

  var q=$('q'),
    offset = getAbsolutOffset(q);
  var autocomplete = $('autocomplete')
  autocomplete.style.left = offset.x + 'px'
  autocomplete.style.top = (offset.y + q.offsetHeight) + 'px'
  autocomplete.style.width = q.offsetWidth + 'px'

  q.addEventListener('keypress', function(e) {
    // up
    // down
    // enter
  });

  q.addEventListener('input', function(e) {
  });
